<% include partials/header %>

<h1>Welcome to the home page</h1>

<p>The pages are /do, /know, /users/yourusername, and a special page that says woof.</p>
</p><strong>At home, everything is green.</strong></p>	

<% include partials/footer %>